<!DOCTYPE html>
<html>
    <head>
        <!--
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
         -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
         <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
         <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>FLACK</title>
    </head>
    <body>

        <!--Website Title -->
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h3 style="color:blue;text-float:center;margin-bottom:30px;margin-top:50px;"><strong>FLACK Chat Website</strong></h3></div>
        <div class="col-4"></div>
      </div>

      <!--login Identity -->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
          <h6 style="color:black;text-float:left;margin-bottom:30px;"><strong>You are logged in as <span style="color:green;">{{user}}</span></strong></h6>
        </div>
        <div class="col-4"></div>
      </div>

      <!--Registered Users List-->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-6"><h6 style="color:blue;text-float:left;margin-bottom:30px;"><strong>Registered Users:</strong></h6></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
          <ul id="display_names" style="list-style: none;text-float:left;">
            {% for name in users %}
              <li>
                  <p> Display Name: <span style="color:green;"> {{name}}</span></p>
              </li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-4"></div>
      </div>

      <!--Create a Channel Form-->
      <div class="row" style="margin-top: 30px;">
        <div class="col-2"></div>
        <div class="col-8">
          <h6 style="text-float:center;margin-bottom:5px;"> <strong style="color:blue;">Create a New Channel:</strong></h6>
          <form id="channelform">
            <div class="form-group">
              <label for="channel_name">Channel Name:</label>
              <input id="channel_name" type="text"  class="form-control" placeholder="Enter channel name" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-2"></div>
      </div>

      <!--Existing Channels-->
      <div class="row" style="margin-top: 30px;">
        <div class="col-2"></div>
        <div class="col-6"><h6 style="color:blue;text-float:left;margin-bottom:30px;"><strong>Existing Channels:</strong></h6></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
          <ul id="channels" style="list-style: none;text-float:left;">
            {% for channel in channels %}
              {% if channel.name == current_channel.name %}
                <li style="margin-bottom:10px;">
                    <button data-channel="{{channel.name}}" type="button" class="channels btn btn-success"> {{channel.name}} </button>
                </li>
              {% else %}
                <li style="margin-bottom:10px;">
                    <button data-channel="{{channel.name}}" type="button" class="channels btn btn-secondary"> {{channel.name}} </button>
                </li>
              {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="col-3"></div>
      </div>

    </body>
</html>
